{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      <h1 class="display-4 header-tag">History</h1>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="teaching-content">


      <img src="{% static 'img/Meditation_Hall.jpg' %}" alt="">
      <br><br>
      <p class="lead">It seems everyone is looking for ways to escape the hustle and bustle of modern day living. From instant messaging, to long commutes in Houston traffic, people are looking for peace and tranquility. And now, many are turning to the ancient Chinese practice of meditation.</p>

      <h3 class="header-tag">What is meditation?</h3>
      <p> Meditation is something different to each and every one of us because it is a unique experience each and every time when practiced. It can be done anytime, anywhere. However, many people prefer to go to a meditation center where they can meditate with others. At most mediation centers, the room is quiet and dimly lit. People sit in silence on individual cushions, legs crossed (Lotus style), eyes closed, and concentrate on breathing while trying to clear the mind of all thoughts. The room is in total silence, there is no talking. A meditation session can last up to an hour. After the meditation session ends, many people say they feel better--calm and peaceful. So, the practice of meditation is becoming popularly known as a healthful means to relax and a way to deal with the stress.</p>

    <p>There is a lot of information to be found on the internet about meditation; namely, meditation techniques for beginners, how to do meditation, mindful meditation, meditation classes, meditation rooms, mindfulness based stress reduction, types of meditation, how to meditate Zen, mindfulness training, and more. At the Chung Tai Zen Center of Houston, guided meditation classes are offered to the public along with Dharma lectures about the Zen philosophy of living a kind and loving life. There are beginner, intermediate and advanced meditation classes. All classes are free of charge; however, donations are welcomed.
    <br/> <br/>
    So, if you're feeling stressed and want something to help you feel better, then try meditation at The Chung Tai Zen Center of Houston. The people are kind, friendly, and welcoming to everyone--from business executives to students, retirees, stay-at-home moms--the Zen center welcomes everyone in peace.
    <br/> <br/>
    We also offer children and youth meditation classes for the young ones whom their parents think will benefit from meditation and wholesome activities. The children will develop patience, tolerance, cooperation, responsibility, and wisdom as they go through the carefully structured class activities. Together with the adult meditation classes, the whole family can enjoy peace and attain Dharma joy together at the Chung Tai Zen Center of Houston.
    <br/> <br/>
    In addition, if you're looking for a volunteering opportunity and enjoy gardening, consider volunteering at the Zen Center and Zen garden. We always welcome practitioners from all walks of life to contribute to the community.</p>
    </div>
    </div>
  </div>
</div>


{% endblock %}
