<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  {% load material_form %}
  {% include 'material/includes/material_css.html' %}
  <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="{% static 'css/poop.css' %}"> -->
  <script scr="{% static 'js/temple.js' %}"></script>

  <title>
    {% block title %} {% endblock %}
  </title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="hint_of_color"></div>
      <!-- <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm fixed-top"> -->
      <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-inverse bg-dark navbar-dark">
        <!-- Brand -->
        <div class="brand-bar">
        <img class="brand-image" src="{% static 'img/sunnyvale-banner_transp.png' %}" alt="Chung Tai Zen Center Houston">
        <a class="navbar-brand" href="/">Chungtai</a>
        <a href="http://cthouston.org/jcn/" style="font-size: 10px;" class="text-muted">中文</a>
      </div>
        <!--  Drawer icon shows up in responsive mode but not working****-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="ClassesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ClassesDropdown">
                <a class="dropdown-item" href="/meditate">All Classes</a>
                <a class="dropdown-item" href="/meditate/beginner">Beginners</a>
                <a class="dropdown-item" href="/meditate/intermediate">Intermediate</a>
                <a class="dropdown-item" href="/meditate/advanced">Advanced</a>
                <a class="dropdown-item" href="/meditate/children">Children</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="AboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teachings</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="AboutDropdown">
                <a class="dropdown-item" href="/teachings/sutras">Sutras and Gathas</a>
                <a class="dropdown-item" href="/teachings/arhats">Arhats</a>
                <a class="dropdown-item" href="/teachings/buddhiststories">Buddhist Stories</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="AboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="AboutDropdown">
                <a class="dropdown-item" href="/about">History</a>
                <a class="dropdown-item" href="/contact">Contact Us</a>
                <a class="dropdown-item" href="/masters">Masters</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="DanaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dana</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="DanaDropdown">
                <a class="dropdown-item" href="/volunteer">Volunteer</a>
                <a class="dropdown-item" href="/donate">Donation</a>
              </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.get_username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'password_reset' %}?next={{request.path}}">Change Password</a>
                <a class="dropdown-item" href="/myclasses">My Classes</a>
                {% if user.is_staff %}<a class="dropdown-item" href="/admin">Admin</a>
                <a class="dropdown-item" href="/graphql">Graphql</a>
                {% else %}{% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li> {% endif %}
          </ul>
        </div>
      </nav>
  </div>
  </div>

  <div class="content-wrapper">
    {% block content %}{% endblock %}
  </div>
  </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <!-- <script src="{% static 'material/js/jquery.js' %}"></script> -->
  <script src="https://js.stripe.com/v3/"></script>

</body>

</html>
