{% extends 'base.html' %}

{% block title %}Chungtai{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-2">Chung Tai Zen Center of Houston</h1>
  <h2>中台禪寺德州分院普德精舍</h2>
  <p id="demo"></p>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<h1 id="example1"></h1>
<p class="text-muted">>Terminal</p>

{% endblock %}
