{% extends 'sandbox-base.html' %}
{% block content %}
<div class="contentWrapper">
    <div class="sbDiv">
      <a class="sbButton" href="">Meditate</a>
      <a class="sbButton" href="">Volunteer</a>
    </div>
  </div>

<p>

-background: chungtai is a buddhist temple here in houston since 2002.They offer free meditation classes. I started as a student and prety soon I was administration. It's not efficient. Everything is paperwork. For every student that registers, There's a poor volunteer somewhere who has to transcribe paper to an excel sheet and then transfer that to microsoft access. Data is never consistent. Attendnace never matches.

- cthouston.org: yay what a great website /s

- chungtaizen: why did I choose django? Even though we only covered django in class for 15 seconds. I KNEW. HARD PART - WHAT. I COULD have done this whole project in NodeJS/Express/MongoDB and it'll take me a day. But it was because we didn't

- demo: create new user > admin account

-conclusion: clash of the frameworks. The point was not to build a full website, it was a build a tool for administration to more accurately track. Working with django is like digging gold nuggets, you don't know what you'll find and it's exciting! It's built in magic.

- PROUD: using mailgun enabling admin to mass notification. send up to 10,000 emails a month.
</p>



{% endblock %}
align-items: center = is like the y axis
Justify-content: center = center it in the div. like the x axis.
