{% extends "base.html" %} {% load static%} {% block title %}Password Reset{% endblock %} {% block content %}
<!--
If you delete this form, process will automatically route you to django's built-in pw reset form.
-->
<form action="" class="form" method="post">
    {% csrf_token %}
  {% if user.is_authenticated %}
  <p>Email: {{ user.email }}</p>
  {% else %}
  {% csrf_token %}
  {% if form.email.errors %} {{ form.email.errors }} {% endif %}
  <p>Email: {{ form.email }}</p>
  {% endif %}
  <input type="submit" class="myButton" value="Reset password" />
</form>
<div class="little-monk">
  <img src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Little Monk" />
</div>
{% endblock %}
