{% extends 'base.html' %}

{% block title %}Chungtai Zen Masters{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <h1 class="header-tag">Beginner's Material Page</h1>
    </div>
    <div class="col-lg-10">
      <form class="form" action="" method="post">
        <h2><strong>Sign Up </stromg>Beginners Meditation Class</h2>
        {% csrf_token %}
        {{ form }}
        <hr>
        <input type="submit" value="OK">
      </form>
    </div>
  </div>
</div>


{% endblock %}
