{% extends 'base.html' %}

{% block title %}Chungtai Zen Masters{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <h1 class="header-tag">Beginner's Meditation Class</h1>
      <div class="little-monk">
        <img class="card-img-top" src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Beginner Free Meditation Class">
      </div>
    </div>
    <div class="col-lg-10">
      Beginner
    </div>
  </div>
</div>


{% endblock %}
