{% extends 'base.html' %}

{% block title %}CT Meditation Classes{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <h1 class="header-tag">Meditation Class</h1>
      <ul class="class-description">
        <li><i class="material-icons">check</i>
Weekly classes of different levels, starting every four months</li>
        <li><i class="material-icons">check</i>Class conducted in English</li>
        <li><i class="material-icons">check</i>Anyone interested can register</li>
        <li><i class="material-icons">check</i>Each class meets for two hours: first hour lecture and Zen Buddhist teachings in the second hour</li>
      </ul>
    <div class="little-monk">
      <img class="card-img-top" src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Beginner Free Meditation Class">
    </div>

    </div>
    <div class="col-lg-10">
      <div class="card-deck content-background">
        <div class="card">
          <!-- <img class="card-img-top" src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Beginner Free Meditation Class"> -->
          <div class="card-body">
            <div class="hint_of_color" style="width: 100%;"></div>
            <h4 class="card-header">English Level I (Beginning)</h4>
            <p class="card-text">No prior meditation experience needed.</p>
            <p class="card-text"><strong>Meditation methods: </strong>Breath-counting and mindfulness of breathing</p>
            <p class="card-text"><strong>Topics covered: </strong>Introduction to Buddhism and Zen, Chung Tai Chan practices, karma and causality, the Four Noble Truths (suffering, the causes of suffering, nirvana, the Noble Eightfold Path), and Three Refuges.</p>
            {% if classauth.0 == 0 %}
            <a class="myButton" href="/meditate/beginner/signup">Sign Up Beginner</a>
            {% else %}
            <a class="yesButton" href="/myclasses/meditate/beginner/material">See Class</a>
            {% endif %}
          </div>
        </div>
        <div class="card">
          <!-- <img class="card-img-top" src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Beginner Free Meditation Class"> -->
          <div class="card-body">
            <div class="hint_of_color" style="width: 100%;"></div>
            <h4 class="card-header">English Level II (Intermediate)</h4>
            <p class="card-text">Experience in Level I Class required.</p>
            <p class="card-text"><strong>Meditation methods: </strong>Middle way reality contemplation and compassion contemplation.</p>
            <p class="card-text"><strong>Topics covered: </strong>Five Precepts, Buddhist Cosmology, Vegetarianism in Buddhism, The bodhisattva ideal - the six paramitas: perfection of charity, morality, tolerance, diligence, meditation, and prajna wisdom.</p>
            {% if classauth.1 == 0 %}
            <a class="myButton" href="/meditate/intermediate/signup">Sign Up Intermediate</a>
            {% else %}
            <a class="yesButton" href="/myclasses/meditate/intermediate/material">See Class</a>
            {% endif %}
          </div>
        </div>
        <div class="card">
          <!-- <img class="card-img-top" src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Beginner Free Meditation Class"> -->
          <div class="card-body">
            <div class="hint_of_color" style="width: 100%;"></div>
            <h4 class="card-header">English Level III (Advanced)</h4>
            <p class="card-text">Experience in Level I and Level II Classes required.</p>
            <p class="card-text"><strong>Meditation methods: </strong>Continuation of previous methods.</p>
            <p class="card-text"><strong>Buddhist Scripture: </strong>The Treatise on the Hundred Dharmas: A Gate to Understanding the Mahayana.</p>
            {% if classauth.2 == 0 %}
            <a class="myButton" href="/meditate/advanced/signup">Sign Up Advanced</a>
            {% else %}
            <a class="yesButton" href="/myclasses/meditate/advanced/material">See Class</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-deck content-background">
        <div class="card">
          <!-- <img class="card-img-top" src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Beginner Free Meditation Class"> -->
          <div class="card-body">
            <div class="hint_of_color" style="width: 100%;"></div>
            <h4 class="card-header">Children Meditation Class (AWESOME YOUTH)</h4>
            <p class="card-text">For children ages 4-12. Parents are encouraged to join. No prior meditation experience needed.</p>
            <p class="card-text">This class is designed for children ages 4-12 to discover their inner wisdom and develop positive outlook on life. The creatively designed curriculum includes meditation instructions, Dharma talks, Zen stories, movies, character-building activities, field trips, and more. Students learn to sharpen their awareness and concentration and to appreciate the gifts of this world.</p>
            {% if classauth.3 == 0 %}
            <a class="myButton" href="/meditate/children/signup">Sign Up Children</a>
            {% else %}
            <a class="yesButton" href="/myclasses/meditate/children/material">See Class</a>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}
