{% extends 'base.html' %}
{% block title %}Arhats- Chungtai Zen Center {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      <h1>Arhats</h1>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12">
<div class="teaching-content">
<h1>Arhats</h1>
<p>Arhats are ‘saints’ or sages who have fully realized the Buddhist Doctrine. There is no greed, anger and ignorance in their minds. They understand the Four Noble Truths, follows the Noble Eightfold Path, has realized the emptiness of the false-ego, and has  extinguished the poisons of greed, anger, and ignorance, thereby transcending  the cycle of rebirth.  In some texts the Buddha is described as being accompanied by 500 Arhats.  Here at Buddha Gate we have 18 statues to represent all Arhats.  Numerous stories are told about each to inspire people.</p>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5593">Ajita</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5624">Nakula</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5540">Sugata, the ‘Dragon Tamer’</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5545">Panthaka</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5556">Pindola</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5565">Bodhisattva Maitreya</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5570">Rahula</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=6238">Vajraputra</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5628">“Tiger Tamer Arhat”</a><br>
<i class="material-icons">chevron_right</i>
<a href="http://buddhagate.org/?p=5633">Cupapanthaka</a><br>
</div>
</div>
</div>
{% endblock %}
