{% extends 'base.html' %}
{% load static %}
{% block title %}Buddhist Stories - Chungtai Zen Center {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12">
      <h1>Buddhist Stories</h1>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
      <img src="{% static 'img/little-monk/little-monk-54.jpg'%}" alt="">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="teaching-content">
      <h3>Two feet? Eight feet?</h3>
      <br/><br/>
      <p>A long time ago, there was a farmer who had a big wheat farm and he planted lots of wheat. He saw his neighbor grow wheat on the neighboring farm; they grew very well and very big. He asked his neighbor, “Look at the wheat on your farm! How did you make it grow so well? Is there a secret to planting wheat and having it grow well?”
      <br/><br/>
      His neighbor answered, “Well, first, you should smooth the soil and keep the ground even and flat. Then you water the ground with water saved from washing rice and vegetables. After that, you have to carefully plant the wheat sprouts evenly, and continue to water them. Then the wheat will grow big and well.”
      <br/><br/>
      When the farmer heard what his neighbor taught him, he tried it as soon as he went back to the farm. The farmer smoothed the soil and kept the ground flat. Then he started watering the soil to keep it moist. When he stepped on the soil and was ready to plant the wheat sprouts, he thought, “If I step on the soil I already prepared, , the soil will become hard and then the sprouts won’t grow. Mmm….What can I do?”
      <br/><br/>
      The farmer thought long and hard for a solution. Then he thought, “Oh! Yes. Maybe I can sit on a sedan chair and ask other people to raise and move the chair backwards while I plant the wheat sprouts in the soil. That way, I won’t step on my prepared soil. What a smart idea!”
      <br/><br/>
      So the farmer asked four people to help raise and move the sedan chair for him. When people in the village saw what the farmer was doing, they all laughed at him, “How silly this farmer is! He was afraid his two feet would ruin the farm, but now eight feet are stepping all over his prepared soil.”</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12">
      <!-- <h1>No Watermelon for Ananda</h1> -->
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="teaching-content">

      <h3>No Watermelon for Ananda</h3>
      <br/><br/>
      <p>         Ananda and Mahakasyapa were two of the Buddha’s great disciples. One day, they went on a long journey with the Buddha. They walked all morning. By noon, they were tired and thirsty. As they sat under a tree for a rest, the Buddha saw a house nearby with a big garden. There were many watermelons growing in the garden.
      <br/><br/>
               “Ananda, we are all very thirsty. Go to that house and beg the owner for a watermelon to quench our thirst,” said the Buddha to Ananda.
      <br/><br/>
               Ananda followed. When he arrived at the house, he saw a young woman working in the garden. He walked up to her and asked politely, “Good afternoon. My teacher is the Buddha. We have been walking the whole morning and we are very thirsty. Would you give me a watermelon to offer to the Buddha?”
      <br/><br/>
               As soon as Ananda had finished speaking, the young woman shouted angrily, “You leave my garden at once. I have nothing for you.”
      <br/><br/>
               Ananda walked back to the Buddha and told him what happened. The Buddha simply smiled and turned to Mahakasyapa, “Now it is your turn to go and ask for a watermelon.”
      <br/><br/>

        Mahakasyapa doubted that the woman would change her mind about giving them a watermelon, but he did not doubt his teacher’s words. There must be a reason behind everything the Buddha said.
      <br/><br/>
               Mahakasyapa walked slowly over to the house. As soon as the young woman saw him coming, her face lit up with a smile. She walked over to him and made three prostrations, and then invited him to come into the garden. She picked the biggest and juiciest watermelon from the vines and offered it to him.
      <br/><br/>
               “Honorable Mo
      nk, this is the best watermelon from my garden. Please accept this offering,” said the young woman.
      <br/><br/>
      When Mahakasyapa returned with a big watermelon in his arms, Ananda looked surprised. The Buddha turned to both of them and said, “Let me tell you a story:
      <br/><br/>
      Many eons ago, there were two monks who were good friends. One day, they went on a trip together. It was a hot and sunny day. They were tired and thirsty from walking the whole morning. Suddenly, they saw a dead cat on the side of the road. Under the hot sun, the dead body gave off a bad smell. When the younger monk saw this, he scrunched up his nose in disgust and quickly ran off. But the older monk walked up to the dead cat and gave it his blessing: ‘May you take refuge in the Buddha, Dharma and Sangha. May you be reborn in a better place. May you attain enlightenment.’ He then found a patch of good soil on the roadside and dug a hole there to bury the dead cat.
      <br/><br/>
      That dead cat was eventually reborn as a human. She was the young woman you met in the watermelon garden. The younger monk was one of Ananda’s previous lives and the older monk was one of Mahakasyapa’s previous lives. Because Mahakasyapa showed kindness towards the dead cat and sincerely dedicated good wishes to the cat, the young woman naturally felt joyful when she saw him today, and wanted to offer him the best watermelon without his asking. However, because Ananda showed disgust towards the dead cat, the young woman felt angry as soon as she saw him, and she refused his request for a watermelon.”
      <br/><br/>
      After they heard the story, the two disciples learned a great lesson. We should always be kind and respectful to all beings. We should always do things to give happiness and to take away pain and sadness for others. The kindness and blessings we give to others will always return to us.</p>
      </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="{% static 'img/little-monk/little-monk-60.jpg'%}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12">
      <!-- <h1>Buddhist Stories</h1> -->
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
      <img src="{% static 'img/little-monk/little-monk-61.jpg'%}" alt="">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="teaching-content">


        <h3>Comply with Good</h3>
        <br/><br/>
        <p>Once the Buddha resided in Niguyu garden located in Kapilavadhu City, Mahanama who was one of the Buddha’s cousins, came to visit the Buddha. He paid homage to the Buddha and sit down.
        <br/><br/>
        He raised a question to the Buddha, “The World Honored One, the City of Kapilavadhu is prosperous. There are many people living here. The streets are always crowded. Though I was protected by many guards and attendants from the unbridled animals, unruly people and all different kinds of vehicles, I am still frightened by this chaos. I fear that I will lose my focus on being mindful of the Buddha, the Dharma, and the Sangha.  A question occurs to me; Where will I be reborn when I die if I lose my focus on being mindful of the Buddha, the Dharma, and the Sangha?”
        <br/><br/>
        The Buddha told Mahanama, “Don’t be afraid. You won’t be reborn in the lower realms after you die.  For example, when a big tree falls, what direction will it lean toward?”
        <br/><br/>
        Mahanama answered, “This big tree will lean to the side where many branches grow.”
        <br/><br/>
        The Buddha said, “So do you. After you die you won’t plunge to wretched realms if you have no sins because you abide in the Buddha, the Dharma, and the Sangha. You are mindful of the Three Jewels day and night. Even when your physical body dies, it’s cremated into ash, or thrown into a graveyard and beaten by the weather; finally it turns to dust and is blown away by the wind.  Never the less, your mind dwells in the right faith constantly and consistently. When you are still alive, you uphold the pure precepts, practice giving, listen to the Dharma at the monastery, and carry out appropriate practices in your daily life. Gradually you meditate and contemplate the profound meanings of the Dharma. You obtain the virtues of faith, precepts, giving, listening and wisdom.  With these virtues and your good deeds, when you body is passing away, your consciousness will head for the realm of peace and joy, and be reborn in the heavens.”
        <br/><br/>
        After Mahanama listened to the Buddha’s Dharma talk, he was filled with brightness and hope for his future lifetimes. He paid homage to the Buddha with great joy and left.</p>
      </div>
    </div>
  </div>





</div>
</div>
</div>
{% endblock %}
