{% extends 'base.html' %}
{% block title %}Sutras and Gathas - Chungtai Zen Center {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      <h1>Sutras and Gathas</h1>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12">
<div class="teaching-content">
<h1>Sutras and Gathas</h1>
<p>Sutras are the teachings of the Buddha. They vary widely in style, content and approach, and may seem to be different philosophies, but there is a central unifying truth in all of them. Buddha was an expert teacher and believed we should teach people with different abilities and inclinations in different ways, while never straying away from the central principle.</p>
<p>Traditional Buddhists treat books on the Dharma as sacred, hence it is considered disrespectful to place them in a low position, read them while lying down, or place them where they might be damaged by food and drinks. Here are some of the Sutras chanted and taught at the Buddha Gate Monastery.</p>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/diamond%20sutra%20v1.9.17%2020131201%281%29.pdf">The Diamond of Perfect Wisdom Sutra</a>
<br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/mahayana%20practice%20v1.4.14%2020131216.pdf">The Essence of Mahayana Practice</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/heart%20sutra%20v1.2.18%2020131216.pdf">The Heart of Prajna Paramita Sutra with Annotation</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/platform%20sutra%20-%20chap%20ii%20v0.3.8%2020131216.pdf">The Platform Sutra of The Sixth Patriarch Hui Neng</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/sutra%20of%2042%20chapters%20sutra%20v1.3.12%2020131216.pdf">The Sutra of Forty-Two Chapters</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/8%20realizations%20of%20great%20beings%20v2.5.16%2020131216.pdf">The Sutra of The Eight Realizations of Great Beings</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/medicine%20buddha%20sutra%20%E4%B8%AD%E8%8B%B1%20v0.9.2%2020131216.pdf">The Sutra of The Medicine Master Lapis Lazuli Light Tathagata</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/sutra%20on%20impermanence%20v1.6.14%2020131216.pdf">The Sutra on Impermanence</a><br>
<i class="material-icons">chevron_right</i><a href="http://buddhagate.org/?p=4791">Ten Precepts for the Mind</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/100%20dharmas%20translation%20v0.6.9%2020131216.pdf">The Treatise on the Hundred Dharmas: A Gate to Understanding the Mahayana</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/trust%20in%20mind%20v1.7.12%2020131216.pdf">Trust In Mind</a><br>
<i class="material-icons">chevron_right</i><a href="http://ctzen.org/sunnyvale/zhTW/images/pdf/2013sutra/2014sutra/universal%20gateway%20of%20guanyin%20bodhisattva%20sutra%20v2.7%2020131216.pdf">The Universal Gateway Of Guanyin Bodhisattva</a><br>

</div>
</div>
</div>
</div>
{% endblock %}
